<ion-view ng-controller="FriendsController" ng-init="getFriendsList();getGroups();">

	<!-- Header -->

	<ion-header-bar align-title="center" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Add Friends</h1>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="ion-android-textsms tabIcon"></i>
			</a>
	
			<a class="tab-item" href="#/notifications" ng-class="{'assertive':$root.data.newNotifications > 0}">
				<i class="ion-android-notifications tabIcon"></i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="ion-android-people tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="ion-android-person tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="ion-android-settings tabIcon"></i>
			</a>

		</div>
	</div>

<ion-content class="friendsContent has-header has-tabs-top">

	<p class="groupsTitle">GROUPS</p>

		<ul class="list">
			<li class="item groupName comment-animate" ng-repeat="group in $root.data.groups track by $index" ng-click="addFriendsToPoll(null, group)">
				{{group.groupName}}
				<!-- Edit group button -->
				<a><i class="ion-android-done groupsEdit" ng-if="$root.data.addPoll.groups.indexOf(group) !== -1"></i></a>
			</li>
		</ul>

	<p class="groupsTitle" ng-if="$root.data.recentFriends.length !== 0">RECENT FRIENDS</p>

		<div class="list">

    		<a class="item item-avatar friendsList comment-animate" ng-repeat="recentfriend in $root.data.recentFriends track by $index" ng-click="addFriendsToPoll(recentfriend)">
    			<div style="background:url({{recentfriend.friendImage !== '' ? recentfriend.friendImage : 'img/default.png'}}) no-repeat center;background-size:cover;position: absolute;top: 16px;left: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;margin: 0;padding: 0;border: 0;vertical-align: baseline;font: inherit;font-size: 100%;box-sizing: border-box;white-space: normal;"></div>
      			<h2 class="friendsName">{{recentfriend.friendName}}</h2>
      			<!-- Selected button -->
      			<i class="ion-android-done friendsClose" ng-if="$root.data.addPoll.friends.indexOf(recentfriend) !== -1"></i>
   			</a>
		</div>

	<p class="groupsTitle">YOUR FRIENDS</p>

		<!-- Without friends -->
		<div class="noContent" ng-if="$root.data.friendsList.length === 0">
			<i class="ion-android-person noContentIcon noContentIconMargin"></i>
			<p class="noContentTitle">You have no friends</p>
			<p class="noContentSubtitle">Invite friends so you can share polls with them</p>
		</div>

		<div class="list">
    		<a class="item item-avatar friendsList comment-animate" href="" ng-repeat="friend in $root.data.friendsList track by $index" ng-click="addFriendsToPoll(friend)">
    			<div style="background:url({{friend.friendImage !== '' ? friend.friendImage : 'img/default.png'}}) no-repeat center;background-size:cover;position: absolute;top: 16px;left: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;margin: 0;padding: 0;border: 0;vertical-align: baseline;font: inherit;font-size: 100%;box-sizing: border-box;white-space: normal;"></div>
      			<img ng-src="">
      			<h2 class="friendsName">{{friend.friendName}}</h2>
      			<!-- Selected button -->
      			<i class="ion-android-done friendsClose" ng-if="$root.data.addPoll.friends.indexOf(friend) !== -1"></i>
   			</a>
		</div>

</ion-content>

	<ion-footer-bar align-title="center" class="bar-royal">
		<a href="#" class="button button-icon" ng-click="$root.createPoll($root.files)" style="width:100%;top:8px;opacity:1;position:relative;text-align:center !important;">Post your poll <ion-spinner icon="ios-small" class="spinner-light" ng-if="$root.addingPoll === true" style="width:100%;text-align:center;position:absolute;top:2px;left:70px;"></ion-spinner></a>
	</ion-footer-bar>

</ion-view>