<ion-view ng-controller="PollsController">
	
	<div class="image-loading-bar" ng-if="$root.imageUploadPercent > 0">
		<span style="width:{{$root.imageUploadPercent}}%;background-color:#ee524f;border-right:none;"></span>
	</div>

	<ion-content class="addPollContent">
		<div class="row addPollRow">
			<div class="col">
				<a><i class="ion-android-arrow-back addBack light" ng-click="$root.goBack()"></i></a>
			</div>
			<div class="col">
				<i class="ion-android-done addCamera light" ng-click="createPoll(files)"></i>
				<i class="ion-android-camera addCamera light" ngf-select ng-model="files"></i>
				<ion-spinner icon="ios-small" class="spinner-light addCamera" style="margin-left:-9px;margin-top:18px;" ng-if="$root.imageUploadPercent > 0"></ion-spinner>
			</div>
		</div>
		<p class="addAsk">Ask your question</p>
		<textarea class="addText" maxlength="128" placeholder="Enter your text here" ng-model="$root.inputs.createPollTitle" ng-enter="createPoll(files)"></textarea>
		<div class="add-poll-image-preview">
			<img ngf-src="files[0]" ngf-accept="'image/*'" ngf-default-src="img/default.png">
		</div>

	</ion-content>

<ion-footer-bar align-title="center" class="bar-royal">
	<a href="#/addFriends"><h1 class="title addIcon"><i class="ion-android-people"></i><div class="numberBubble"><p class="numberInBubble">{{$root.data.addPoll.names.length}}</p></div></h1></a>
</ion-footer-bar>

</ion-view>