<ion-view>

	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Edit Group</h1>
		<a href="#" class="button ion-android-done settingsDoneBtn button-icon"></a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="ion-android-textsms tabIcon"></i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="ion-android-notifications tabIcon"></i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="ion-android-people tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="ion-android-person tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="ion-android-settings tabIcon"></i>
			</a>

		</div>
	</div>

<ion-content class="editGroupContent has-header has-tabs-top">

	<p class="groupsTitle">GROUP NAME</p>
	<input class="editGroupName" type="text" placeholder="Enter group name here" ng-model="$root.data.selectedGroup.groupName"> 

	<p class="groupsTitle">PEOPLE IN THIS GROUP</p>

	<div class="list">

		<a class="item item-avatar friendsList comment-animate" href="" ng-repeat="groupFriend in $root.data.selectedGroupFriends track by $index">
  			<img ng-src="{{groupFriend.friendImage}}">
  			<h2 class="friendsName">{{groupFriend.friendName}}</h2>
  			<i class="ion-android-close friendsClose" ng-click="$root.removeFriendFromGroup($root.data.selectedGroup.groupId, groupFriend.friendId)"></i>
		</a>
	</div>

	<p class="groupsTitle">ADD FRIENDS TO GROUP</p>

	<div class="list">

    	<a class="item item-avatar friendsList" href="" ng-repeat="friend in $root.data.friendsList">
      		<img ng-src="{{friend.friendImage}}">
      		<h2 class="friendsName">{{friend.friendName}}</h2>
      		<i class="ion-android-done friendsClose" ng-click="$root.addFriendToGroup($root.data.selectedGroup.groupId, null, friend.friendId)" ng-if="$root.data.friendsInGroup.indexOf(friend.friendId) === -1"></i>
   		</a>

	</div>
</ion-content>
</ion-view>