<ion-view>

	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a href="#/friends"><button class="button backBtn button-clear button-light button-icon ion-android-arrow-back"></button></a>
		<h1 class="title light">Edit Group</h1>
		<button class="button button-clear button-light button-icon settingsDoneBtn"><i class="material-icons">check</i></button>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="material-icons">textsms</i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="material-icons">notifications_active</i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="material-icons">group</i>
			</a>
		
			<a class="tab-item" href="#/profile">
				<i class="material-icons">person</i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="material-icons">settings</i>
			</a>

		</div>
	</div>
<ion-content class="editGroupContent">

	<p class="groupsTitle">GROUP NAME</p>
	<input class="editGroupName" type="text" placeholder="Enter group name here" ng-model="$root.data.selectedGroup.groupName"> 

	<p class="groupsTitle">PEOPLE IN THIS GROUP</p>

	<div class="list">

		<a class="item item-avatar friendsList" href="" ng-repeat="groupFriend in $root.data.selectedGroupFriends track by $index">
  			<img ng-src="{{groupFriend.friendImage}}">
  			<h2 class="friendsName">{{groupFriend.friendName}}</h2>
  			<i class="material-icons friendsClose" ng-click="$root.removeFriendFromGroup($root.data.selectedGroup.groupId, groupFriend.friendId)">remove</i>
		</a>
	</div>

	<p class="groupsTitle">ADD FRIENDS TO GROUP</p>

	<div class="list">

    	<a class="item item-avatar friendsList" href="" ng-repeat="friend in $root.data.friendsList">
      		<img ng-src="{{friend.friendImage}}">
      		<h2 class="friendsName">{{friend.friendName}}</h2>
      		<i class="material-icons friendsClose" ng-click="$root.addFriendToGroup($root.data.selectedGroup.groupId, null, friend.friendId)">add</i>
   		</a>

	</div>
</ion-content>
</ion-view>