<ion-view ng-controller="FriendsController" ng-init="getFriendsList();getGroups();getRecentFriends()">

	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Friends</h1>
		<a ng-click="$root.logout()" class="button" style="border:none;top:6px;font-size:14px;">Logout</a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="ion-android-textsms tabIcon"></i>
			</a>
	
			<a class="tab-item" href="#/notifications" ng-class="{'assertive':$root.data.newNotifications > 0}">
				<i class="ion-android-notifications tabIcon"></i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="ion-android-people tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="ion-android-person tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="ion-android-settings tabIcon"></i>
			</a>

		</div>
	</div>

<ion-content class="friendsContent has-header has-tabs-top">

	<p class="groupsTitle">GROUPS</p>

		<!-- Without groups -->
		<div class="noContent comment-animate" ng-if="$root.data.groups.length === 0">
			<i class="ion-android-people noContentIcon noContentIconMargin"></i>
			<p class="noContentTitle">You haven't created a group yet</p>
			<p class="noContentSubtitle">After you create one it will be shown here</p>
		</div>

		<ul class="list">
			<li class="item groupName comment-animate" ng-repeat="group in $root.data.groups track by $index">
				{{group.groupName}}
				<!-- Edit group button -->
				<a ng-click="getGroupItem(group)"><i class="ion-android-create groupsEdit"></i></a>
				<!-- Delete button -->
				<i class="ion-android-close groupsClose" ng-click="deleteGroup(group.groupId, group.groupName)"></i>
			</li>
		</ul>

	<p class="groupsTitle" ng-if="$root.data.recentFriends.length !== 0">RECENT FRIENDS</p>

		<div class="list">

    		<a class="item item-avatar friendsList comment-animate" ng-repeat="recentfriend in $root.data.recentFriends track by $index" ng-click="$root.getUserProfile(recentfriend.friendId);$root.getActivityFeed(recentfriend.friendId);">
      			<img style="background:url({{recentfriend.friendImage}}) no-repeat center;background-size:cover;">
      			<h2 class="friendsName">{{recentfriend.friendName}}</h2>
      			<!-- Delete button -->
      			<i class="ion-android-close friendsClose" ng-click="removeFriend(recentfriend.friendId, $event, recentfriend.friendName);"></i>
   			</a>
		</div>

	<p class="groupsTitle">YOUR FRIENDS</p>

		<!-- No friends -->
		<div class="noContent" ng-if="$root.data.friendsList.length === 0">
			<i class="ion-android-person noContentIcon noContentIconMargin"></i>
			<p class="noContentTitle">You have no friends</p>
			<p class="noContentSubtitle">Invite friends so you can share polls with them</p>
		</div>

		<div class="list">
    		<a class="item item-avatar friendsList comment-animate" ng-repeat="friend in $root.data.friendsList track by $index" ng-click="$root.getUserProfile(friend.friendId);$root.getActivityFeed(friend.friendId);">
      			<img style="background:url({{friend.friendImage}}) no-repeat center;background-size:cover;">
      			<h2 class="friendsName">{{friend.friendName}}</h2>
      			<!-- Delete button -->
      			<i class="ion-android-close friendsClose" ng-click="removeFriend(friend.friendId, $event, friend.friendName);"></i>
   			</a>
		</div>

</ion-content>

<ion-footer-bar class="bar-royal footerFriends">
	<div class="barGroup">
		<a class="button button-clear barButton" href="#/newGroup"><i class="barIcon"><img src="img/addGroup.png"></img></i></a>
	</div>
	<div class="barFriend" ng-click="inviteFriend()">
		<a class="button button-clear barButton" href="#/inviteFriends"><i class="barIcon"><img src="img/addFriend.png"></img></i></a>
	</div>
</ion-footer-bar>

</ion-view>