<ion-view ng-controller="FriendsController" ng-init="getFriendsList();getGroups()">

	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Friends</h1>
		<a ng-click="$root.logout()" class="button" style="border:none;top:6px;font-size:14px;">Logout</a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="material-icons">textsms</i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="material-icons" ng-class="{'royal':$root.data.newNotifications}">notifications_active</i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="material-icons">group</i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed()">
				<i class="material-icons">person</i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="material-icons">settings</i>
			</a>

		</div>
	</div>

<ion-content class="friendsContent has-header has-tabs-top">

	<p class="groupsTitle">GROUPS</p>

		<!-- Without groups -->
		<div class="noContent" ng-if="$root.data.groups.length === 0">
			<i class="material-icons noContentIcon">group</i>
			<p class="noContentTitle">You haven't created a group yet</p>
			<p class="noContentSubtitle">After you create one it will be shown here</p>
		</div>

		<ul class="list">
			<li class="item groupName comment-animate" ng-repeat="group in $root.data.groups track by $index">
				{{group.groupName}}
				<!-- Edit group button -->
				<a ng-click="getGroupItem(group)"><i class="material-icons groupsEdit">mode_edit</i></a>
				<!-- Delete button -->
				<i class="material-icons groupsClose" ng-click="deleteGroup(group.groupId)">close</i>
			</li>
		</ul>

	<p class="groupsTitle">RECENT FRIENDS</p>

		<div class="list">

    		<a class="item item-avatar friendsList" href="">
      			<img src="img/avatar.jpg">
      			<h2 class="friendsName">Tiffany Jones</h2>
      		<!-- Delete button -->	
      			<i class="material-icons friendsClose">close</i>
   			</a>

   			<a class="item item-avatar friendsList" href="#">
      			<img src="img/avatar.jpg">
      			<h2  class="friendsName">Melinda Hayek</h2>
      			<i class="material-icons friendsClose">close</i>
   			</a>
		</div>

	<p class="groupsTitle">YOUR FRIENDS</p>

		<!-- Without friends -->
		<div class="noContent" ng-if="$root.data.friendsList.length === 0">
			<i class="material-icons noContentIcon">person</i>
			<p class="noContentTitle">You have no friends</p>
			<p class="noContentSubtitle">Invite friends so you can share polls with them</p>
		</div>

		<div class="list">
    		<a class="item item-avatar friendsList comment-animate" href="" ng-repeat="friend in $root.data.friendsList track by $index" ng-click="$root.getUserProfile(friend.friendId);$root.getActivityFeed(friend.friendId)">
      			<img ng-src="{{friend.friendImage !== '' ? friend.friendImage : 'img/default_avatar.png'}}">
      			<h2 class="friendsName">{{friend.friendName}}</h2>
      			<!-- Delete button -->
      			<i class="material-icons friendsClose" ng-click="removeFriend(friend.friendId);">close</i>
   			</a>
		</div>

</ion-content>

<ion-footer-bar class="bar-royal footerFriends">
	<div class="barGroup">
		<a class="button button-clear barButton" href="#/newGroup"><i class="material-icons barIcon">group_add</i></a>
	</div>
	<div class="barFriend" ng-click="inviteFriend()">
		<a class="button button-clear barButton" href="#/inviteFriends"><i class="material-icons barIcon">person_add</i></a>
	</div>
</ion-footer-bar>

</ion-view>