<ion-view ng-controller="AddFriendsController">
	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Invite Friends</h1>
		<a href="#" class="button ion-android-done settingsDoneBtn button-icon"></a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="ion-android-textsms tabIcon"></i>
			</a>
	
			<a class="tab-item" href="#/notifications" ng-class="{'assertive':$root.data.newNotifications > 0}">
				<i class="ion-android-notifications tabIcon"></i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="ion-android-people tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="ion-android-person tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="ion-android-settings tabIcon"></i>
			</a>

		</div>
	</div>

<ion-content class="inviteFriendsContent has-header has-tabs-top">

	<button class="button button-positive importFb">
		<i class="ion-social-facebook fbIcon"></i>
		Import from Facebook
	</button>

	<button class="button button-assertive importGoogle">
		<i class="ion-social-googleplus googleIcon"></i>
		Import from Google Plus
	</button>
		
	<p class="groupsTitle groupsTitleMargin">INVITE YOUR FRIENDS</p>

	<div style="width:100%;display:inline-block;text-align:center">
		<ion-spinner icon="ios-small" class="spinner-assertive" ng-if="$root.contactsFilled !== true"></ion-spinner>
	</div>

	<div class="list">

		<div ng-repeat="item in $root.tempContactsArray2">
	    	<a class="item item-avatar friendsList" ng-repeat="contact in $root.data.contacts" ng-click="inviteFriend(contact.emails[0].value)" ng-if="contact.displayName.split('')[0].toLowerCase() === $root.tempContactsArray[item]">
	      		<div style="background:url({{contact.photos === null ? 'img/default.png' : contact.photos[0].value}}) no-repeat center;background-size:cover;background-size:cover;position: absolute;top: 16px;left: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;margin: 0;padding: 0;border: 0;vertical-align: baseline;font: inherit;font-size: 100%;box-sizing: border-box;white-space: normal;"></div>
	      		<h2 class="friendsName">{{contact.displayName}}</h2>
	      		<p class="asked">{{contact.emails[0].value}}</p>
	   		</a>
   		</div>
	</div>

</ion-content>


</ion-view>