<ion-view ng-controller="AddFriendsController">
	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Invite Friends <!-- Number of selected friends -->(2)</h1>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="ion-android-textsms tabIcon"></i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="ion-android-notifications tabIcon"></i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="ion-android-people tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="ion-android-person tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="ion-android-settings tabIcon"></i>
			</a>

		</div>
	</div>

<ion-content class="inviteFriendsContent has-header has-tabs-top">

	<button class="button button-positive importFb">
		<i class="ion-social-facebook fbIcon"></i>
		Import from Facebook
	</button>

	<button class="button button-assertive importGoogle">
		<i class="ion-social-googleplus googleIcon"></i>
		Import from Google Plus
	</button>
		
	<p class="groupsTitle">Invite your friends</p>

	<div class="list">

    	<a class="item item-avatar friendsList" ng-repeat="contact in $root.data.contacts">
      		<img src="{{contact.photos[0].value}}">
      		<h2 class="friendsName">{{contact.displayName}}</h2>
      		<!-- Select button -->
      		<i class="material-icons friendsClose">check</i>
   			</a>
	</div>

</ion-content>

<ion-footer-bar class="bar-royal footerFriends">
	<div class="barGroup">
		<a class="button button-clear barButton" href="#/newGroup"><i class="ion-android-people barIcon"></i></a>
	</div>
	<div class="barFriend" ng-click="inviteFriend()">
		<a class="button button-clear barButton" href="#/inviteFriends"><i class="ion-android-person-add barIcon"></i></a>
	</div>
</ion-footer-bar>


</ion-view>