<ion-view ng-controller="PushController">

<ion-content class="signInContent" ng-controller="LoginController">

	<!-- Logo -->

	<img src="img/logo.png" class="signInLogo">

	<!-- Login form -->

	<div class="list list-inset">
		<label class="item item-input">
			<i class="ion-ios-email formIcon stable"></i>
			<input type="text" placeholder="Enter your E-mail" ng-model="$root.inputs.loginMail" ng-enter="focusPassword()">
		</label>

		<label class="item item-input">
			<i class="ion-ios-unlocked-outline formIcon stable"></i>
			<input id="login-password-input" type="password" placeholder="Password" ng-model="$root.inputs.loginPass" ng-enter="login()">
		</label>

		
		<!-- Sign In button #/polls -->

		<a ng-click="login()"><button class="button button-royal signInButton">
			SIGN IN 
			<ion-spinner icon="ios-small" class="spinner-light" style="position:absolute;top:8px;" ng-if="$root.checkingLogin === true;"></ion-spinner>
		</button></a>

		<button class="button button-positive signInButton" ng-click="fbLogin();" style="margin-top:10px;" ng-controller="SignupController">
			<i class="ion-social-facebook fbIcon"></i>
			Sign in with Facebook
		</button>
	</div>

	<div class="signInCorner">
		<a href="#/signUp"><p class="signInNew light">New here? Sign up!</p></a>
		<a href="#/reset" class="signInForgot light">Forgot password?</a>
	</div>


</ion-content>

</ion-view>