<ion-view>

	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Group Details</h1>
		<button class="button button-clear button-icon settingsDoneBtn" ng-click="$root.createNewGroup()"><i class="material-icons">check</i></button>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="material-icons">textsms</i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="material-icons">notifications_active</i>
			</a>
		
			<a class="tab-item active" href="#/friends">
				<i class="material-icons">group</i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="material-icons">person</i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="material-icons">settings</i>
			</a>

		</div>
	</div>
<ion-content class="newGroupContent has-header has-tabs-top" ng-controller="FriendsController">
	<p class="groupsTitle">GROUP NAME</p>
	<input class="editGroupName" type="text" placeholder="Enter the name of the group" ng-model="$root.inputs.newGroupName" ng-enter="$root.createNewGroup()">

	<p class="groupsTitle">YOUR FRIENDS</p>

	<div class="list">
   		<a class="item item-avatar friendsList comment-animate" href="" ng-repeat="friend in $root.data.friendsList track by $index" ng-click="$root.data.friendsInNewGroup.indexOf(friend.friendId) === -1 ? addFriendToNewGroup(friend.friendId) : removeFriendFromNewGroup(friend.friendId)">
  			<img ng-src="{{friend.friendImage !== '' ? friend.friendImage : 'img/default_avatar.png'}}">
  			<h2 class="friendsName">{{friend.friendName}}</h2>

  			<!-- Delete/add button -->
  			<i class="material-icons friendsClose" ng-if="$root.data.friendsInNewGroup.indexOf(friend.friendId) === -1">add</i>
  			<i class="material-icons friendsClose" ng-if="$root.data.friendsInNewGroup.indexOf(friend.friendId) !== -1">close</i>
		</a>
	</div>
</ion-content>
</ion-view>