<ion-view>
	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a href="#" class="button backBtn button-icon ion-android-arrow-back"></a>
		<h1 class="title light">Notifications</h1>
		<a ng-click="$root.logout()" class="button" style="border:none;top:6px;font-size:14px;">Logout</a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item" href="#/polls">
				<i class="material-icons">textsms</i>
			</a>
	
			<a class="tab-item active" href="#/notifications">
				<i class="material-icons">notifications_active</i>
			</a>
		
			<a class="tab-item" href="#/friends">
				<i class="material-icons">group</i>
			</a>
		
			<a class="tab-item" href="#/profile">
				<i class="material-icons">person</i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="material-icons">settings</i>
			</a>

		</div>
	</div>

<ion-content class="notificationsContent has-header has-tabs-top">

	<!-- Without notifications -->
	<div class="noContent">
		<i class="material-icons noContentIcon">notifications_active</i>
		<p class="noContentTitle">No notifications</p>
	</div>

	<div class="list commentsContainer">
		<!-- New notifications (different background color) -->
		<div class="item item-avatar" ng-repeat="notification in $root.data.notifications">
		<!-- Notification for answers on poll -->
			<img style="background:url({{notification.activityAuthorImage}}) no-repeat center;background-size:cover;">
			<h2 class="userName">{{notification.activityAuthorName}}</h2>
			<p class="commentTime">25 MIN AGO</p>
			<p class="answeredNotification">ANSWERED {{(notification.userVotedYes === 1 ? 'YES' : 'NO')}} ON QUESTION:</p>
			<p class="answeredPollNotification">{{notification.question}}</p>
			<img class="noIcon" ng-src="{{notification.userVotedYes === 1 ? 'img/yes.png' : 'img/no.png'}}">
		</div>
		
		<!-- Old notifications -->
		
		<!-- Invitation to a poll -->

		<!-- <div class="item item-avatar">
			<img src="img/avatar.jpg">
			<h2 class="userName">PETER JACKSON</h2>
			<p class="commentTime">25 MIN AGO</p>
			<p class="answeredNotification">INVITED YOU TO ANSWER ON:</p>
			<p class="answeredPollNotification">LAS VEGAS FOR THE WEEKEND?</p>
			<hr class="invitationLine">
			<div class="button-bar barNotification">
				<a class="button button-clear"><i class="material-icons ignoreIcon">clear</i> IGNORE</a>
				<a class="button button-clear"><i class="material-icons acceptIcon">check</i>ACCEPT</a>
			</div>
		</div> -->
	</div>

</ion-content>
</ion-view>