<ion-view>
	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Notifications</h1>
		<a ng-click="$root.logout()" class="button" style="border:none;top:6px;font-size:14px;">Logout</a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item active" href="#/polls">
				<i class="ion-android-textsms"></i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="ion-android-notifications"></i>
			</a>
		
			<a class="tab-item" href="#/friends">
				<i class="ion-android-people"></i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="ion-android-person"></i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="ion-android-settings"></i>
			</a>

		</div>
	</div>

<ion-content class="notificationsContent has-header has-tabs-top" ng-controller="NotificationsController" ng-init="$root.getNotifications()">

	<!-- Without notifications -->
	<div class="noContent" ng-if="$root.data.notifications.length === 0">
		<i class="material-icons noContentIcon">notifications_active</i>
		<p class="noContentTitle">No notifications</p>
	</div>

	<div class="list commentsContainer">
		<ion-spinner ng-if="$root.data.notifications.length === 0" spinner="ios-small" style="display:block;text-align:center;margin-top:20px;"></ion-spinner>

		<!-- New notifications (different background color) -->
		<div class="item item-avatar" ng-class="{'newNotification':notification.read === 0}" ng-repeat="notification in $root.data.notifications" ng-click="seenNotification(notification.notificationId);notification.notificationType === 'vote' ? $root.getPollItem(notification.questionId, false) : null;notification.notificationType === 'comment' ? $root.getComments(notification.questionId) : null;">
		<!-- Notification for answers on poll -->
			<img style="background:url({{notification.authorImage !== '' ? notification.authorImage : 'img/default_avatar.png'}}) no-repeat center;background-size:cover;">
			<div class="row userRow">
				<div class="col col-offset-10">
					<h2 class="userName userNameMargin">{{notification.authorName}}</h2>
				</div>
				<div class="col">
					<p class="commentTime">{{notification.time.split(' ')[1] === 'sec' ? 'JUST NOW' : notification.time | uppercase}}</p>
				</div>
			</div>
			<p class="answeredNotification" ng-if="notification.notificationType === 'vote'">ANSWERED {{notification.userVotedYes === 1 ? 'YES' : null}} {{notification.userVotedNo === 1 ? 'NO' : null}} ON QUESTION:</p>
			<p class="answeredNotification" ng-if="notification.notificationType === 'question'">INVITED YOU TO ANSWER ON QUESTION:</p>
			<p class="answeredNotification" ng-if="notification.notificationType === 'comment'">COMMENTED ON QUESTION:</p>
			<p class="answeredNotification" ng-if="notification.notificationType === 'friendRequest'">WANTS TO BE YOUR FRIEND</p>
			<p class="answeredPollNotification" ng-class="{'commentMargin':notification.notificationType === 'comment'}">{{notification.question | uppercase}}</p>
			<img class="noIcon" ng-if="notification.notificationType === 'vote'" ng-src="{{notification.userVotedYes === 1 ? 'img/yes.png' : 'img/no.png'}}">
			<div class="button-bar barNotification" ng-if="notification.notificationType === 'question' && notification.read === 0">
				<a class="button button-clear button-royal" ng-click="seenNotification(notification.notificationId)"><i class="material-icons ignoreIcon">clear</i> IGNORE</a>
				<a class="button button-clear button-calm" ng-click="$root.getPollItem(notification.questionId, false);seenNotification(notification.notificationId, true);"><i class="material-icons acceptIcon">check</i>ACCEPT</a>
			</div>
			<div class="button-bar barNotification" ng-if="notification.notificationType === 'friendRequest' && notification.read === 0">
				<a class="button button-clear button-royal" ng-click="seenNotification(notification.notificationId)"><i class="material-icons ignoreIcon">clear</i> IGNORE</a>
				<a class="button button-clear button-calm" ng-click="seenNotification(notification.notificationId);$root.acceptFriendRequest(notification.authorId, true, notification.notificationId)"><i class="material-icons acceptIcon">check</i>ACCEPT</a>
			</div>
		</div>
	</div>

</ion-content>
</ion-view>