<ion-view>

<ion-content class="detailsContent">
	<div class="imageContainerDetails" ng-class="{'imageContainerDetailsDefault':$root.data.poll.imageUrl === ''}" style="background-image: url({{$root.data.poll.imageUrl}});">
		<div class="yesGrey">
			<div class="yesContainerDetails" style="width:{{$root.data.poll.votesYes}}%">
				<a class="button backBtnDetails light button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
				<p class="yes light">YES</p>
				<p class="yesNumber light">{{$root.data.poll.votesYes}}</p>
				<p class="percent light">%</p>
				<img class="answeredIcon" src="img/answered.png" ng-if="$root.data.poll.userVotedYes !== 0">
			</div>
		</div>

		<div class="noGrey">
			<div class="noContainerDetails" style="width:{{$root.data.poll.votesNo}}%">
				<p class="no">NO</p>
				<p class="noNumber">{{$root.data.poll.votesNo}}</p>
				<p class="percent">%</p>
				<img class="answeredIcon" src="img/answered.png" ng-if="$root.data.poll.userVotedNo !== 0">
			</div>
			
			<div class="col expiredCol" ng-if="$root.data.poll.timeLeft === 0">
				<i class="ion-android-alarm-clock expiredIcon light"></i>
				<p class="expiredTxt light">EXPIRED</p>
			</div>
			<div class="col activeCol" ng-if="$root.data.poll.timeLeft !== 0">
				<i class="ion-android-alarm-clock activeIcon light"></i>
				<p class="activeTxt light">{{$root.data.poll.timeLeft}} MIN. LEFT</p>
			</div>
		</div>
	</div>

</ion-content>

<ion-footer-bar class="detailsFooter">

	<div class="item item-avatar itemDetails">

		<img style="background:url({{$root.data.poll.authorImage}}) no-repeat center;background-size:cover;">
		<div class="row">
			<div class="col col-offset-10">
				<h2 class="detailsName">{{$root.data.poll.authorName}}</h2>
				<p class="detailsAsked">ASKED</p>
			</div>
			<div class="col col-33">
				<a class="ion-android-textsms detailsComIcon" ng-click="$root.getComments($root.data.poll.questionId)"></a>
				<a class="detailsComments" ng-click="$root.getComments($root.data.poll.questionId)">{{$root.data.poll.commentsCount}}</a>
				<i class="ion-android-done-all detailsAnsweredIcon"></i>
				<p class="detailsAnswered">{{$root.data.poll.votesCount}}</p>
			</div>
		</div>
		
		<h2 class="pollQuestionDetails">{{$root.data.poll.question}}</h2>
	</div>
</ion-footer-bar>
</ion-view>