<ion-view>

<ion-content class="detailsContent">
	<div class="imageContainerDetails" ng-class="{'imageContainerDetailsDefault':$root.data.poll.imageUrl === ''}" style="background-image: url({{$root.data.poll.imageUrl}});">
		<div class="yesGrey">
			<div class="yesContainerDetails" style="width:{{$root.data.poll.votesYes}}%">
				<a href="#/polls" class="button backBtnDetails light button-icon ion-android-arrow-back"></a>
				<p class="yes light">YES</p>
				<p class="yesNumber light">{{$root.data.poll.votesYes}}</p>
				<p class="percent light">%</p>
				<img class="answeredIcon" src="img/answered.png" ng-if="$root.data.poll.userVotedYes !== 0">
			</div>
		</div>

		<div class="noGrey">
			<div class="noContainerDetails" style="width:{{$root.data.poll.votesNo}}%">
				<p class="no">NO</p>
				<p class="noNumber">{{$root.data.poll.votesNo}}</p>
				<p class="percent">%</p>
				<img class="answeredIcon" src="img/answered.png" ng-if="$root.data.poll.userVotedNo !== 0">
			</div>
			
			<div class="col expiredCol" ng-if="$root.data.poll.timeLeft === 0">
				<i class="material-icons expiredIcon light">timer_off</i>
				<p class="expiredTxt light">EXPIRED</p>
			</div>
			<div class="col activeCol" ng-if="$root.data.poll.timeLeft !== 0">
				<i class="material-icons activeIcon light">timer</i>
				<p class="activeTxt light">{{$root.data.poll.timeLeft}} MIN. LEFT</p>
			</div>
		</div>
	</div>

	<!-- <div class="item item-avatar itemDetails">

		<img style="background:url({{$root.data.poll.authorImage}}) no-repeat center;background-size:cover;">
		<h2 class="detailsName">{{$root.data.poll.authorName}}</h2>
		<p class="detailsAsked">ASKED</p>
		<i class="material-icons detailsComIcon">speaker_notes</i>
		<p class="detailsComments">{{$root.data.poll.commentsCount}}</p>
		<i class="material-icons detailsAnsweredIcon">done_all</i>
		<p class="detailsAnswered">{{$root.data.poll.votesCount}}</p>
		
		<h2 class="pollQuestionDetails">{{$root.data.poll.question}}</h2>
	</div> -->
</ion-content>

<ion-footer-bar class="detailsFooter">

	<div class="item item-avatar itemDetails">

		<img style="background:url({{$root.data.poll.authorImage}}) no-repeat center;background-size:cover;">
		<h2 class="detailsName">{{$root.data.poll.authorName}}</h2>
		<p class="detailsAsked">ASKED</p>
		<i class="material-icons detailsComIcon">speaker_notes</i>
		<p class="detailsComments">{{$root.data.poll.commentsCount}}</p>
		<i class="material-icons detailsAnsweredIcon">done_all</i>
		<p class="detailsAnswered">{{$root.data.poll.votesCount}}</p>
		
		<h2 class="pollQuestionDetails">{{$root.data.poll.question}}</h2>
	</div>
</ion-footer-bar>
</ion-view>