<ion-view ng-controller='PollsController'>

	<!-- First time user tutorial -->
 
 	<div class="doubleTapOverlay overlay-animate" ng-dblclick="removeOverlay()" ng-if="$root.login.firstTime === '1'">
		<p class="doubleTapTxt light">Double tap on YES or NO to vote</p>
		<img class="doubleTapIcon" src="img/doubleTap.png">
	</div>

	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a href="#" class="button backBtn button-icon ion-android-arrow-back"></a>
		<h1 class="title light">Polls</h1>
		<a ng-click="$root.logout()" class="button" style="border:none;top:6px;font-size:14px;">Logout</a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item active" href="#/polls">
				<i class="material-icons">textsms</i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="material-icons">notifications_active</i>
			</a>
		
			<a class="tab-item" href="#/friends">
				<i class="material-icons">group</i>
			</a>
		
			<a class="tab-item" href="#/profile">
				<i class="material-icons">person</i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="material-icons">settings</i>
			</a>

		</div>
	</div>

<ion-content class="pollsContent has-header has-tabs-top">

	<!-- Without polls -->
	<div class="noContent" ng-if="$root.data.polls.length === 0">
		<i class="material-icons noContentIcon">view_list</i>
		<p class="noContentTitle">There are no polls to show</p>
		<p class="noContentSubtitle">Post new poll or invite friends to see theirs</p>
	</div>


	<!-- Refresh page -->
	<ion-refresher
		on-refresh="onContentRefresh()"
		pulling-icon="ion-help-buoy"
		disable-pulling-rotation="true">
	</ion-refresher>

<div class="list">

	<!-- Active poll -->
	<div class="item item-avatar poll-animate" ng-class="{'overlay':poll.timeLeft === 0}" ng-repeat="poll in $root.data.polls track by $index">
		<img style="background:url({{poll.authorImage}}) no-repeat center;background-size:cover;">
		<h2 class="userName">{{poll.authorName}}</h2>
		<p class="asked">ASKED</p>
		<p class="timer">{{(poll.timeLeft !== 0) ? poll.timeLeft + ' MIN. LEFT' : 'EXPIRED'}}</p>
		<h2 class="pollQuestion">{{poll.question}}</h2>

		<!-- Poll image -->
		<div ng-class="{'imageContainer':poll.imageUrl !== '','imageContainerDefault':poll.imageUrl === ''}" style="background-image: url({{poll.imageUrl}});">
			<!-- Grey overlay -->
			<div class="yesGrey" ng-click="voteOnPoll(poll.questionId,1)">
			<!-- Yes votes  -->
				<div class="yesContainer" style="width:{{poll.votesYes}}%">
					<p class="yes light">YES</p>
					<p class="yesNumber light">{{poll.votesYes}}</p>
					<p class="percent light">%</p>
					<img class="answeredIcon" src="img/answered.png" ng-if="poll.userVotedYes === 1">
				</div>
			</div>
			<!-- Grey overlay -->
			<div class="noGrey" ng-click="voteOnPoll(poll.questionId,0)">
			<!-- No votes -->
				<div class="noContainer" style="width:{{poll.votesNo}}%">
					<p class="no">NO</p>
					<p class="noNumber">{{poll.votesNo}}</p>
					<p class="percent">%</p>
					<img class="answeredIcon" src="img/answered.png" ng-if="poll.userVotedNo === 1">
				</div>
			</div>
		</div>

		<a class="subdued pollVotes" ng-click="getPollItem(poll.questionId)">{{poll.usersVoted + 0}} VOTES</a>
		<a class="subdued pollComments" ng-class="{'userCommented':poll.userCommented !== 0}" ng-click="$root.getComments(poll.questionId);getPollItem(poll.questionId, true);$root.data.commentsTitle = poll.question.toUpperCase()">{{poll.commentsCount}} COMMENTS</a>
		<a><i class="material-icons pollMore stable" ng-click="getPollItem(poll.questionId)">more_horiz</i></a>
	</div>

</div>



</ion-content>

<!-- Add poll footer -->
<ion-footer-bar align-title="left" class="bar-royal">
<!-- Add poll button -->
	<a href="#/addPoll"><h1 class="title addIcon"><i class="material-icons">add</i></h1></a>
</ion-footer-bar>

</ion-view>