<ion-view ng-controller='PollsController' ng-init="$root.getNotifications()">

	<!-- First time user tutorial -->
 
 	<div class="doubleTapOverlay comment-animate" ng-dblclick="removeOverlay()" ng-if="$root.login.firstTime === '1'">
		<p class="doubleTapTxt light">Double tap on YES or NO to vote</p>
		<img class="doubleTapIcon" src="img/doubleTap.png">
	</div>

	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Polls</h1>
		<a ng-click="$root.logout()" class="button" style="border:none;top:6px;font-size:14px;">Logout</a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item active" href="#/polls">
				<i class="ion-android-textsms tabIcon"></i>
			</a>
	
			<a class="tab-item" href="#/notifications" ng-class="{'assertive':$root.data.newNotifications > 0}">
				<i class="ion-android-notifications tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/friends">
				<i class="ion-android-people tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed();">
				<i class="ion-android-person tabIcon"></i>
			</a>
		
			<a class="tab-item" href="#/settings">
				<i class="ion-android-settings tabIcon"></i>
			</a>

		</div>
	</div>

	

<ion-content class="pollsContent has-header has-tabs-top">

	<!-- Without polls -->
	<div class="noContent" ng-if="$root.data.polls.length === 0">
		<i class="ion-android-list noContentIcon"></i>
		<p class="noContentTitle">There are no polls to show</p>
		<p class="noContentSubtitle">Post new poll or invite friends to see theirs</p>
	</div>


	<!-- Refresh page -->
	<ion-refresher
		on-refresh="onContentRefresh()"
		pulling-icon="ion-help-buoy"
		disable-pulling-rotation="true">
	</ion-refresher>

<div class="list">
		
	<!-- Active poll -->
	<div class="item item-avatar poll-animate" ng-class="{'overlay':poll.timeLeft === 0}" ng-repeat="poll in $root.data.polls track by $index">
		<div style="background:url({{poll.authorImage !== '' ? poll.authorImage : 'img/default.png'}}) no-repeat center;background-size:cover;position: absolute;top: 16px;left: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;margin: 0;padding: 0;border: 0;vertical-align: baseline;font: inherit;font-size: 100%;box-sizing: border-box;white-space: normal;"></div>
		<div class="row userRow">
			<div class="col col-offset-10">
				<h2 class="userName">{{poll.authorName}}</h2>
				<p class="asked">ASKED</p>
			</div>
			<div class="col col-33"><p class="timer">{{(poll.timeLeft !== 0) ? poll.timeLeft + ' MIN. LEFT' : 'EXPIRED'}}</p></div>
		</div>
		<h2 class="pollQuestion">{{poll.question}}</h2>

		<!-- Poll image -->
		<div ng-class="{'imageContainer':poll.imageUrl !== '','imageContainerDefault':poll.imageUrl === ''}" style="background-image: url({{poll.imageUrl}});">
			<!-- Grey overlay -->
			<div class="yesGrey" ng-click="voteOnPoll(poll.questionId,1)">
			<!-- Yes votes  -->
				<div class="yesContainer" style="width:{{poll.votesYes}}%">
					<p class="yes light">YES</p>
					<p class="yesNumber light" style="overflow:visible;z-index:99999999;">{{poll.votesYes}}</p>
					<p class="percent light" style="overflow:visible;z-index:99999999;">%</p>
					<img class="answeredIcon" src="img/answered.png" ng-if="poll.userVotedYes === 1">
				</div>
			</div>
			<!-- Grey overlay -->
			<div class="noGrey" ng-click="voteOnPoll(poll.questionId,0)">
			<!-- No votes -->
				<div class="noContainer" style="width:{{poll.votesNo}}%">
					<p class="no">NO</p>
					<p class="noNumber">{{poll.votesNo}}</p>
					<p class="percent">%</p>
					<img class="answeredIcon" src="img/answered.png" ng-if="poll.userVotedNo === 1">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a class="subdued pollVotes" ng-click="$root.getPollItem(poll.questionId);$root.navigate('/pollDetails')">{{poll.userVoted + 0}} VOTES</a>
				<a class="subdued pollComments" ng-class="{'userCommented':poll.userCommented !== 0}" ng-click="$root.getComments(poll.questionId);$root.getPollItem(poll.questionId, false);$root.data.commentsTitle = poll.question.toUpperCase();$root.navigate('/comments')">{{poll.commentsCount}} COMMENTS</a>
			</div>
			<div class="col col-10">
				<a><i class="ion-more pollMore stable" ng-click="$root.getPollItem(poll.questionId);$root.navigate('/pollDetails')"></i></a>
			</div>
		</div>
	</div>

	<ion-infinite-scroll
		ng-if="$root.loadingPolls === false"
		immediate-check="false" 
		on-infinite="loadMorePolls()">
	</ion-infinite-scroll>

</div>



</ion-content>

<!-- Add poll footer -->
<ion-footer-bar align-title="left" class="bar-royal">
<!-- Add poll button -->
	<a href="#/addPoll"><h1 class="title addIcon"><i class="ion-android-add"></i></h1></a>
</ion-footer-bar>

</ion-view>