<ion-view>
<ion-content class="detailsContent">
	<div class="imageContainerDetails">
		<div class="yesGrey">
			<div class="yesContainerDetails">
				<p class="yes light">YES</p>
				<p class="yesNumber light">68</p>
				<p class="percent light">%</p>
				<img class="answeredIcon" src="img/answered.png">
			</div>
		</div>

		<div class="noGrey">
			<div class="noContainerDetails">
				<p class="no">NO</p>
				<p class="noNumber">32</p>
				<p class="percent">%</p>
				<img class="answeredIcon" src="img/answered.png">
			</div>
			<i class="material-icons expiredIcon light">timer_off</i>
			<i class="material-icons activeIcon light">timer</i>
			<p class="expiredTxt light">EXPIRED</p>
			<p class="activeTxt light">25 MIN.LEFT</p>
		</div>
		
	</div>

	<div class="item item-avatar">

		<img src="img/avatar.jpg">
		<h2 class="detailsName">ANNE TONG</h2>
		<p class="detailsAsked">ASKED</p>
		<i class="material-icons detailsComIcon">speaker_notes</i>
		<p class="detailsComments">27</p>
		<i class="material-icons detailsAnsweredIcon">done_all</i>
		<p class="detailsAnswered">250</p>
		
		
		
		<h2 class="pollQuestionDetails">Should I dye my hair green?</h2>
	</div>
</ion-content>

</ion-view>