<ion-view>

<div class="image-loading-bar" ng-if="$root.profileImageUploadPercent > 0">
	<span style="width:{{$root.profileImageUploadPercent}}%;background-color:#ee524f;border-right:none;"></span>
</div>

<ion-content class="profileContent" has-footer="true" ng-controller="ProfileController">
	<div class="profileContainer" style="background:url({{$root.data.userProfile.profileImageBig}}) no-repeat center;background-size:cover;">
		<div class="profileOverlay">
			<div class="row profileRow">
				<div class="col">
					<a ng-click="$root.goBack()"><i class="ion-android-arrow-back addBack light"></i></a>
				</div>
				<div class="col" ng-if="$root.user === true">
					<a href="#/settings"><i class="ion-android-settings addConfirm light"></i></a>
					<i class="ion-android-camera addCamera light" ngf-select ng-model="files"></i>
					<a href="#/friends"><i class="ion-android-people addCamera light"></i></a>
				</div>
			</div>
			<div class="item item-avatar profileAvatar">
				<img class="profileImg" style="background:url({{$root.data.userProfile.profileImage}}) no-repeat center;background-size:cover;">
				<h2 class="profileName testProfilename">{{$root.data.userProfile.profileName}}</h2>
				<p class="profileQuote light testProfilequote">{{$root.data.userProfile.tagLine}}</p>
			</div>
		</div>
	</div>

	<p class="actFeed">ACTIVITY FEED</p>

	<div class="list">

		<ion-spinner spinner="ios-small" style="display:block;text-align:center;margin-top:20px;" ng-if="$root.data.activityFeed === undefined"></ion-spinner>
		
		<!-- Active poll -->
		<div class="item item-avatar comment-animate" ng-repeat="activity in $root.data.activityFeed">
			<img style="background:url({{activity.activityAuthorImage}}) no-repeat center;background-size:cover;">
			<div class="row userRow">
				<div class="col col-offset-10">
					<h2 class="userName">{{activity.activityAuthorName}}</h2>
					<p class="asked">{{activity.activityType === 'vote' ? 'VOTED ON' : ''}}{{activity.activityType === 'question' ? 'ASKED' : ''}}{{activity.activityType === 'comment' ? 'COMMENTED ON' : ''}}</p>
				</div>
				<div class="col col-33"><p class="timer">25 MIN. LEFT</p></div>
			</div>
			<h2 class="pollQuestion">{{activity.question}}</h2>
			<!-- Poll image -->
			<div class="imageContainer" style="background:url({{activity.imageUrl}}) no-repeat center;background-size:cover;" ng-if="activity.activityType === 'question' || activity.activityType === 'vote'">

				<div class="yesGrey">
				<!-- Yes votes  -->
					<div class="yesContainer" style="width:{{activity.votesYes}}%">
						<p class="yes light">YES</p>
						<p class="yesNumber light">{{activity.votesYes}}</p>
						<p class="percent light">%</p>
						<img class="answeredIcon" src="img/answered.png" ng-if="activity.userVotedYes === 1">
					</div>
				</div>

				<div class="noGrey">
				<!-- No votes -->
					<div class="noContainer" style="width:{{activity.votesNo}}%">
						<p class="no">NO</p>
						<p class="noNumber">{{activity.votesNo}}</p>
						<p class="percent">%</p>
						<img class="answeredIcon" src="img/answered.png" ng-if="activity.userVotedNo === 1">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<a class="subdued pollVotes" ng-if="activity.activityType === 'question' || activity.activityType === 'vote'">{{activity.votesCount}} VOTES</a>
					<a class="subdued pollComments" ng-if="activity.activityType === 'question' || activity.activityType === 'vote'">{{activity.commentsCount}} COMMENTS</a>
				</div>
				<div class="col col-10">
					<a><i class="ion-more pollMore stable" ng-click="$root.getPollItem(activity.questionId, false);$root.navigate('/pollDetails')"></i></a>
				</div>
			</div>
		</div>
</div>
</ion-content>


<ion-footer-bar align-title="left" class="bar-royal">
<!-- Add poll button -->
	<a href="#/addPoll"><h1 class="title addIcon"><i class="ion-android-add"></i></h1></a>
</ion-footer-bar>

</ion-view>