<ion-view>

<ion-content class="profileContent" has-footer="true" ng-controller="ProfileController" ng-init="getActivityFeed();getUserProfile();">
	
	<div class="profileContainer" style="background:url({{$root.data.userProfile.profileImage}}) no-repeat center;background-size:cover;">
		<div class="profileOverlay">
			<a><i class="material-icons addBack light" ng-click="$root.goBack()">arrow_back</i></a>
			<a href="#/settings"><i class="material-icons addConfirm light">settings</i></a>
			<i class="material-icons addCamera light">camera_alt</i>
			<a href="#/friends"><i class="material-icons addCamera light">group</i></a>

			<div class="item item-avatar profileAvatar">
				<img class="profileImg" style="background:url({{$root.data.userProfile.profileImage}}) no-repeat center;background-size:cover;">
				<h2 class="profileName">{{$root.data.userProfile.profileName}}</h2>
				<p class="profileQuote light">A truth seeker</p>
			</div>
		</div>
	</div>

	<p class="actFeed">ACTIVITY FEED</p>

	<div class="list">
	<!-- Active poll -->
	<div class="item item-avatar" ng-repeat="activity in $root.data.activityFeed">
		<img style="background:url({{activity.activityAuthorImage}}) no-repeat center;background-size:cover;">
		<div class="row userRow">
			<div class="col col-offset-10">
				<h2 class="userName">{{activity.activityAuthorName}}</h2>
				<p class="asked">{{activity.activityType === 'vote' ? 'VOTED ON' : ''}}{{activity.activityType === 'question' ? 'ASKED' : ''}}{{activity.activityType === 'comment' ? 'COMMENTED ON' : ''}}</p>
			</div>
			<div class="col col-25"><p class="timer">25 MIN. LEFT</p></div>
		</div>
		<h2 class="pollQuestion">{{activity.question}}</h2>
		<!-- Comment -->
		<p class="comment" ng-if="activity.comment !== ''">{{activity.comment}}</p>
		<!-- Poll image -->
		<div class="imageContainer" style="background:url({{activity.imageUrl}}) no-repeat center;background-size:cover;" ng-if="activity.activityType === 'question' || activity.activityType === 'vote'">

			<div class="yesGrey">
			<!-- Yes votes  -->
				<div class="yesContainer" style="width:{{activity.votesYes}}%">
					<p class="yes light">YES</p>
					<p class="yesNumber light">{{activity.votesYes}}</p>
					<p class="percent light">%</p>
					<img class="answeredIcon" src="img/answered.png" ng-if="activity.userVotedYes === 1">
				</div>
			</div>

			<div class="noGrey">
			<!-- No votes -->
				<div class="noContainer" style="width:{{activity.votesNo}}%">
					<p class="no">NO</p>
					<p class="noNumber">{{activity.votesNo}}</p>
					<p class="percent">%</p>
					<img class="answeredIcon" src="img/answered.png" ng-if="activity.userVotedNo === 1">
				</div>
			</div>
		</div>
		<a class="subdued pollVotes" ng-if="activity.activityType === 'question' || activity.activityType === 'vote'">{{activity.votesCount}} VOTES</a>
		<a class="subdued pollComments" ng-if="activity.activityType === 'question' || activity.activityType === 'vote'">{{activity.commentsCount}} COMMENTS</a>
		<a><i class="material-icons pollMore stable">more_horiz</i></a>
	</div>
</div>
</ion-content>


<ion-footer-bar align-title="left" class="bar-royal">
<!-- Add poll button -->
	<a href="#/addPoll"><h1 class="title addIcon"><i class="material-icons">add</i></h1></a>
</ion-footer-bar>

</ion-view>