<ion-view>

<ion-content class="profileContent" has-footer="true">
	
	<div class="profileContainer">
	<div class="profileOverlay">
		<a href="#/polls"><i class="material-icons addBack light">arrow_back</i></a>
		<a href="#/settings"><i class="material-icons addConfirm light">settings</i></a>
		<i class="material-icons addCamera light">camera_alt</i>
		<a href="#/friends"><i class="material-icons addCamera light">group</i></a>

		<div class="item item-avatar profileAvatar">
			<img class="profileImg" src="img/avatar.jpg">
			<h2 class="profileName">Peter Jackson</h2>
			<p class="profileQuote light">A truth seeker</p>
		</div>
	</div>
	</div>

	<p class="actFeed">ACTIVITY FEED</p>

	<div class="list">
	<!-- Active poll -->
	<div class="item item-avatar">
		<img src="img/avatar.jpg">
		<h2 class="userName">PETER JACKSON</h2>
		<p class="asked">ASKED</p>
		<p class="timer">25 MIN. LEFT</p>
		<h2 class="pollQuestion">Should I dye my hair green?</h2>
	<!-- Poll image -->
		<div class="imageContainer">

		<div class="yesGrey">
	<!-- Yes votes  -->
			<div class="yesContainer">
				<p class="yes light">YES</p>
				<p class="yesNumber light">68</p>
				<p class="percent light">%</p>
			</div>
		</div>

		<div class="noGrey">
	<!-- No votes -->
			<div class="noContainer">
				<p class="no">NO</p>
				<p class="noNumber">32</p>
				<p class="percent">%</p>
			</div>
		</div>
		</div>
		<a href="#/pollDetails" class="subdued pollVotes">250 VOTES</a>
		<a href="#/comments" class="subdued pollComments">24 COMMENTS</a>
		<a href="#pollDetails"><i class="material-icons pollMore stable">more_horiz</i></a>
	</div>


	<div class="list commentsContainer">

		<div class="item item-avatar">
			<img src="img/avatar.jpg">
			<h2 class="userName">PETER JACKSON</h2>
			<p class="commentTime">25 MIN AGO</p>
			<p class="comment">C’mon, do not dye your hair to green it’s just too baaad!</p>
			<img class="noIcon" src="img/no.png">
			<hr class="commentLine">
			<p class="commentActivity">COMMENTED ON SELMA HAYEK'S:</p>
			<p class="commentedPoll">A POKKER TONIGHT AT MY PLACE?</p>
		</div>
	</div>

	<div class="list commentsContainer">

		<div class="item item-avatar">
			<img src="img/avatar.jpg">
			<h2 class="userName">PETER JACKSON</h2>
			<p class="commentTime">25 MIN AGO</p>
			<p class="commentActivity">ANSWERED ON SELMA HAYEK'S:</p>
			<p class="commentedPoll">A POKKER TONIGHT AT MY PLACE?</p>
			<img class="noIcon" src="img/no.png">
		</div>
	</div>
</div>
</ion-content>


<ion-footer-bar align-title="left" class="bar-royal">
<!-- Add poll button -->
	<a href="#/addPoll"><h1 class="title addIcon"><i class="material-icons">add</i></h1></a>
</ion-footer-bar>

</ion-view>