<ion-view>
	<!-- Header -->

	<ion-header-bar align-title="left" class="bar-calm has-tabs-top">
		<a class="button backBtn button-icon ion-android-arrow-back" ng-click="$root.goBack()"></a>
		<h1 class="title light">Edit Profile</h1>
		<a href="#" class="button settingsDoneBtn button-icon"><i class="material-icons">check</i></a>
	</ion-header-bar>

	<!-- Tabs -->

	<div class="tabs-striped tabs-top tabs-background-light tabs-color-grey">

		<div class="tabs">

			<a class="tab-item " href="#/polls">
				<i class="material-icons">textsms</i>
			</a>
	
			<a class="tab-item" href="#/notifications">
				<i class="material-icons" ng-class="{'royal':$root.data.newNotifications}">notifications_active</i>
			</a>
		
			<a class="tab-item" href="#/friends">
				<i class="material-icons">group</i>
			</a>
		
			<a class="tab-item" href="#/profile" ng-click="$root.getUserProfile();$root.getActivityFeed()">
				<i class="material-icons">person</i>
			</a>
		
			<a class="tab-item active" href="#/settings">
				<i class="material-icons">settings</i>
			</a>

		</div>
	</div>

<ion-content class="settingsContent has-header has-tabs-top">
	<!-- Change profile name -->
	<p class="settingsName">YOUR NAME VISIBLE TO OTHERS</p>
	<input class="settingsNameInput" type="text" placeholder="Your name"> 
	<!-- Add description -->
	<p class="settingsTagline">TAGLINE</p>
	<input class="settingsTaglineInput" type="text" placeholder="Describe yourself"> 

	<!-- Notifications settings -->
	<p class="settingsNotification">NOTIFICATIONS</p>

	<div class="list">
		<label class="item item-radio">
			<input checked type="radio" name="group">
			<div class="item-content">
				All
			</div>
			<i class="radio-icon material-icons">check</i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">
				Summary only
			</div>
			<i class="radio-icon material-icons">check</i>
		</label>
		<label class="item item-radio">
			<input type="radio" name="group">
			<div class="item-content">
				None
			</div>
			<i class="radio-icon material-icons">check</i>
		</label>
	</div>
</ion-content>
</ion-view>