<ion-view>

<ion-content class="signUpContent" ng-controller="SignupController">

	<!-- Logo -->

	<h2>{{$root.test}}</h2>

	<img src="img/logo.png" class="signInLogo">

	<!-- SMS Code button -->
	<div class="list list-inset sms-container" ng-if="!$root.codeSent">
		
		<h2 style="font-size:16px;color:#f9f9f9;font-weight:400;margin-left:10px;margin-right:10px;margin-top:20px;text-align:center;">Before registering we need to confirm the validity of your e-mail address. Press this button to send out a register token to your email address.</h2>

		<label class="item item-input" style="margin-left:10px;margin-right:10px;margin-top:20px;">
			<i class="ion-ios-email formIcon stable"></i>
			<input class="register-input" type="text" placeholder="Enter your E-mail" ng-model="$root.inputs.smsEmail">
		</label>

		<button class="button button-block button-assertive" style="width:calc(100% - 20px);margin-left:10px;margin-right:10px;margin-top:40px;" ng-click="sendSMS()">Send Token</button>

		<button class="button button-positive fbBtn" ng-click="fbLogin();" style="width:calc(100% - 20px);">
			<i class="ion-social-facebook fbIcon"></i>
			Sign up with Facebook
		</button>

	</div>

	<!-- Register form -->

	<div class="list list-inset" ng-if="$root.codeSent === true">
		<label class="item item-input">
			<i class="ion-ios-email formIcon stable"></i>
			<input class="register-input" type="text" placeholder="Enter your E-mail" ng-model="$root.inputs.signUpMail" ng-enter="focusField(1)">
		</label>

		<label class="item item-input">
			<i class="ion-ios-unlocked-outline formIcon stable"></i>
			<input class="register-input" type="password" placeholder="Password" ng-model="$root.inputs.signUpPass" ng-enter="focusField(2)">
		</label>

		<label class="item item-input">
			<i class="ion-ios-person-outline formIcon stable"></i>
			<input class="register-input" type="text" placeholder="First Name" ng-model="$root.inputs.signUpFirstName" ng-enter="focusField(3)">
		</label>

		<label class="item item-input">
			<i class="ion-ios-person-outline formIcon stable"></i>
			<input class="register-input" type="text" placeholder="Last Name" ng-model="$root.inputs.signUpLastName" ng-enter="focusField(4)">
		</label>

		<label class="item item-input">
			<i class="ion-ios-unlocked-outline formIcon stable"></i>
			<input class="register-input" type="text" placeholder="Token" ng-model="$root.inputs.signUpSms" ng-enter="signUp()">
		</label>

		<!-- Sign Up button -->

		<button class="button button-royal signInButton" ng-click="signUp()">
			SIGN UP
		</button>
	</div>

	
	<p class="signUpAlready light">Already have an account?</p>
	<a href="#/login"><p class="signUpLogIn light">Log in with E-mail</p></a>

 	<p class="signUpTerms light">By signing up, you agree to our Terms of Use and Privacy Policy.</p>
</ion-content>
</ion-view>